[user]
    name = Nikolay Botev
    email = bono8106@yahoo.com
[core]
    excludesfile = ~/.gitignore
[push]
    default = upstream
[color]
    ui = true
[log]
    decorate = true

[difftool "kdiff3"]
    path = c:/Program Files (x86)/KDiff3/kdiff3.exe
[diff]
    guitool = kdiff3
[mergetool "kdiff3"]
    path = c:/Program Files (x86)/KDiff3/kdiff3.exe
[merge]
    tool = kdiff3
