# Some shortcuts for different directory listings
#alias ls='ls -hFG'                # classify files in colour
#alias ll='ls -l'                  # long list
#alias la='ls -A'                  # all but . and ..
#alias l='ls -CFhl'                #

alias s='ssh -X'
alias g='git'
alias gw='./gradlew'

export PATH="$PATH:$HOME/.bootstrap/bin"

