# Some shortcuts for different directory listings
#alias ls='ls -hFG'                # classify files in colour
#alias ll='ls -l'                  # long list
#alias la='ls -A'                  # all but . and ..
#alias l='ls -CFhl'                #

alias s='ssh -X'
alias g='git'
alias gw='./gradlew'

function gpo {
  git push 2>&1 | awk '{ print } $1 == "remote:" && $2 ~ /^https:/ { system("open " $2) }'
}

function gpc {
  git checkout master
  git pull 2>&1 | awk '{ print } $2 == "[deleted]" { sub(/origin\//, "", $5); system("git branch -D " $5) }'
}

export PATH="$PATH:$HOME/.bootstrap/bin"

# Sudoless Cocoapods.
# See https://guides.cocoapods.org/using/getting-started.html#sudo-less-installation
export GEM_HOME=$HOME/.gem
export PATH=$GEM_HOME/bin:$PATH

