[user]
    name = _name_
    email = _email_
    signingkey =
[core]
    excludesfile = ~/.gitignore
[init]
    defaultBranch = main
[commit]
    gpgsign = true
[tag]
    gpgsign = true
[fetch]
    prune = true
[push]
    default = current
    followTags = true
[pull]
    ff = only
[color]
    ui = true
[format]
    pretty = fuller
[log]
    date = local
    decorate = true
    follow = true

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    d = diff
    unstage = reset HEAD --
    last = log -1 HEAD

[difftool]
    prompt = true
[diff]
    tool = bc3

[mergetool]
    keepBackup = false
[merge]
    tool = bc3

[mergetool "bc3"]
    trustExitCode = true

[difftool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[mergetool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false

[difftool "p4mergetool"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
[mergetool "p4mergetool"]
    cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
    trustExitCode = false

