[user]
	name = Nikolay Botev
	email = bono8106@yahoo.com
[core]
	excludesfile = ~/.gitignore
[push]
	default = upstream
[color]
	ui = true
[difftool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[difftool]
    prompt = true
[diff]
    tool = kdiff3
[mergetool "kdiff3"]
    path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
    trustExitCode = false
[mergetool]
    keepBackup = false
[merge]
    tool = kdiff3
